/* Style for the map container */
#gambling_map {
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 100px;
  right: 100px;
  /* Optionally, specify fixed dimensions if needed */
  /* height: 600px; */
  /* width: 800px; */
}
